<div>
    <input type="text" name="title" id="name" placeholder="Nombre del producto">
</div>
<div>
    <textarea name="description" id="description" cols="30" rows="10" placeholder="Descripción del producto"></textarea>
</div>
<div class="form-grandson">
    <input type="number" name="price" id="price" placeholder="Precio">
</div>
<div>
    <h3>Agrega imágenes</h3>

    <label for="images">
        <div class="input-img-text">
            <p>Selecciona un archivo</p>
            <p>o</p>
            <p>Arrástralo hasta aquí</p>
        </div>
    </label>
    <input type="file" name="images" id="images" accept="image/*" multiple>
</div>