<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>

        <main>
            <section>
                <img src="/images/img-home-banner.jpg" alt="">
            </section>

            <section class="products-container">

                    <a class="selected-products" href="">
                        <article>
                            <div class="box-img-product">
                                <img class="imagen-producto"
                                    src="/images/img-cafetera-moulinex.jpg"
                                    alt="product">
                            </div>

                            <div>
                                <h2 class="product-title">Cafetera</h2>
                                <p class="product-price">$20500</p>
                            </div>
                        </article>
                    </a>
                    <a class="selected-products" href="">
                        <article>
                            <div class="box-img-product">
                                <img class="imagen-producto"
                                    src="/images/img-cafetera-moulinex.jpg"
                                    alt="product">
                            </div>

                            <div class="details-container">
                                <h2 class="product-title">Cafetera</h2>
                                <p class="product-price">$20500</p>
                            </div>
                        </article>
                    </a>
            </section>

<!--             <section class="presentation-product-container">
                <section class="presentation-product">
                    <h1 class="smartphone-title-list">Galaxy Z</h1>
                </section>
            </section> -->
        </main>
        <%- include('../partials/footer') %>
</body>
</html>